
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* style pour bouton popup */
.btnPopup{
    background-color: rgb(174, 0, 255);
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 16px;
    transition: 0.5s;
    display: block;
    margin: auto;
    }

/* changement couleur lors du passage de la souris sur le bouton */
.btnPopup:hover{
    background-color: rgb(192, 192, 192);
}

/* réglage du style de la fenêtre popup */
.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
}

/* style de l'élément popup */
.popup{
   margin: 10% auto;
    width : 70%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* style pour fermeture popup */
.btnClose {
    float: right;
    font-size:16pt;
    cursor: pointer;
    color: rgb(236, 1, 225);
}
