*{
    box-sizing: border-box;
}

h2{
    color: hsl(var(--hue-color), 69%, 61%);
    padding-top: 0rem;
}

.about-me,.my-intro{
    text-align: center;
}

.img-aboutme{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.my-intro{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 2em;
}

.about-me {
    margin-top: 3rem;
    margin-bottom: 0rem;
}

.text-aboutme{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 3rem;
    text-align: center;
}

.figures-aboutme{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.experience{
    color: hsl(var(--hue-color), 69%, 61%);
}

.btn-slide2 {
    position: relative;
    display: block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: hsl(var(--hue-color), 69%, 61%);
    border: 2px solid hsl(var(--hue-color), 69%, 61%);
    margin: auto;
    margin-top: 40px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid hsl(var(--hue-color), 69%, 61%)
}

.btn-slide2:hover {
    background-color: hsl(var(--hue-color), 69%, 61%);
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #85E057;
    color: hsl(var(--hue-color), 69%, 61%);
}

#fa_down{
    position: relative;
    bottom: 6px;
    margin-left: 13px;

}


.btn-slide2:hover span.circle2 {
    color: hsl(var(--hue-color), 69%, 61%);
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}



.btn-slide2 span.circle2 {
    display: block;
    background-color: hsl(var(--hue-color), 69%, 61%);
    color: #fff;
    position: absolute;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}


.btn-slide span.title,
  .btn-slide span.title-hover, .btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: hsl(var(--hue-color), 69%, 61%);
    background-color: hsl(var(--hue-color), 69%, 61%);
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: white;
    left: 80px;
  }

.btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide2 span.title-hover2 {
    color: #fff;
}

#fa_down{
    background-color: hsl(var(--hue-color), 69%, 61%);
}

#aboutcomputer{
    display: none;
}

.title2{
    right: 80px;
    left: 30px;
}

@media screen and (min-width: 800px) {
    .text-aboutme{
        margin-left: auto;
        margin-right: auto;
        max-width: 60ch;
    }
    #aboutcomputer{
        display: block;
        height: 2rem;
    }
}
