
/*================= CONTACT ===============*/

.contact_section{
    height: 100vh;
    font-family: var(--body-font);

}

.contact_label{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.125rem;
}

.section__title{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.section_subtitle{
    display: flex;
    justify-content: center;
    margin-top: -1.5rem;
    font-size: 1.125rem;
    color: #6e56e1;
    font-weight: bold;
}

.flex__contact{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__title{
    font-size: 0.938rem;
    font-weight: bold;
    color: #6e56e1;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0rem;
    margin-top: 1rem;

}


.contact__subtitle{
    font-size: 0.8rem;
    color: black;
    margin: 1.5rem;
}

.contact_content{
  position: relative;
  width: 80%;
  background-color: #e2dcff;
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}
.contact_label{
  font-size: 1.125rem;
  color:#6e56e1;
}

#alert{
  display: block;
  text-align: center;
}

.contact_input{
  width: 100%;
  background-color: #e2dcff;
  font-size: 1.125rem;
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}



.contact_form{
    margin-bottom: 20rem;
    position: absolute;
    width: 80%;
    left: 19%;
}

/* Modification de naim */

.contact_complete{
    height: 100vh;
}    

.contact_adress{
    height:40vh;
}

.personalmessage{
  max-width: 75%;
  width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

#contactForm{
  padding-bottom: 5rem;
}


/* Bouton envoyé */

#buttonsend, #buttonsend::after {
    width: 50%;
    height: 70x;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #6e56e1 5%);
    border: 0;
    border-radius: 10rem;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
  }
  
  #buttonsend::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'Send Message';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #6e56e1 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  #buttonsend:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  @media (min-width: 800px) {
  .section__title{
    margin-top: 3rem;
  }

}

