*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    background-color: --var-background-color;

}

.firstpart-header{
    height: 40vh;
    display: flex;
    grid-template-columns: (30% 70%);
}

img{
    width: 100%;
}

.logo-header{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

i{
    padding-top: 2vh;
    padding-bottom:1vh;
}

.neo-photo {
    flex: 5;
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
}

.secondpart-header{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#first_title{
    margin-top: 2rem;
    margin-left: 1rem;
    color: hsl(var(--hue-color), 8%, 15%);
    
}

.secondpart-header>h2 {
    margin-top: 0rem;
    margin-left: 1rem;
}

.secondpart-header>p{
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}



.contact_me{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
    height: 8rem;
    width: 15rem;
    border: 2px solid #6e56e1;
    border-radius: 3rem;
    font-size: 1.2rem;
    color: white;
    background-color: #6e56e1;
    font-weight: bold;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_me:hover{
    border: 2px solid transparent #6e56e1;
    background-color: white;
    color: #6e56e1;
}


#scroll_to_top {
    position: fixed;
    width: 35px;
    height: 55px;
    bottom: 60px;
    right: 12px;
    filter: #6e56e1;*
  }

  #scroll_to_top img {
    height:max-content;
    width: max-content;
  }

